@font-face {
    font-family: "Roboto";
    src: url("../assets/font/Roboto-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "Roboto";
    src: url("../assets/font/Roboto-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: "Roboto";
    src: url("../assets/font/Roboto-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Roboto Mono";
    src: url("../assets/font/RobotoMono-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Roboto Mono";
    src: url("../assets/font/RobotoMono-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: "Roboto Mono";
    src: url("../assets/font/RobotoMono-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}
